
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body{
    font-family: "Poppins", sans-serif;
}
.header{
    text-align: center;
    background-color: rgb(171, 211, 188);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.137);

}
.nav {
    background-color: inherit; 
}

.nav a {
    text-decoration: none; 
    color: inherit; 
    margin: 0 10px; 
}

.nav a:hover {
    text-decoration: underline; /
}

.main{
    background-color: rgba(235, 235, 235, 0.082);
    margin: 20px 0px 20px 0px;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.137);
}

